DATABASE_URL=postgresql://neondb_owner:npg_7yiR9BFEhjHb@ep-long-meadow-a19fkoar-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLOUDINARY_CLOUD_NAME=dhroj62fa
CLOUDINARY_API_KEY=547872612298595
CLOUDINARY_API_SECRET=LdXpcbUVtm0znGPjPL0OvTmWUOM
PORT=3000
JWT_ACCESS_SECRET=UNPZXfmorv_zO1bcesRWWMLdU_-OjJDT49DvlrVq8IUWiAhlTXgQGsVFnucBsHVL
JWT_REFRESH_SECRET=am4HSlNC9I1Wddt_peZ5XpSw8YumIEnduNncs-DoFQgPrEeCkXQgr5Zim4RzZzhU
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info
NODE_ENV=production
